[submodule "ground_truth/example_app_android/wolfssl"]
	path = ground_truth/example_app_android/wolfssl
	url = git@github.com:wolfSSL/wolfssl.git
[submodule "ground_truth/example_app_android/wolfssljni"]
	path = ground_truth/example_app_android/wolfssljni
	url = git@github.com:wolfSSL/wolfssljni.git
